/* FONT */
@font-face {
	font-family: "font-game";
	src: local('Gloria Hallelujah'), url('GloriaHallelujah.woff') format('woff');
}
body {
	background: url(../img/fond.bmp);
	font-family: "font-game", cursive;
	padding: 0;
	margin: 0;
}

/* GAME AND EDITOR */
#content {
	background: url(../img/background-3.png);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
#level-content {
	position: relative;
}
#top {
	padding: 0 10px;
	height: 25px;
	font-size: 13px;
	background: rgba(182, 200, 220, 0.8);
	line-height: 25px;
}
#top span#level {
	width: 30%;
	float: left;
}
#time {
	width: 40%;
	margin: auto;
	float: left;
	text-align: center;
}
#choices {
	width: 40%;
	margin: auto;
	float: left;
	text-align: center;
	display: none;
	height: 25px;
}
#choices img{
	border: 1px black solid;
	border-radius: 3px;
	margin-top: 2px;
	background-color: rgb(230,230,230);
}
#choices #move {
	width: 20px;
	height: 20px;
	margin-right: 3px;
}
#choices #edit {
	width: 20px;
	height: 20px;
	margin-left: 3px;
	margin-right: 3px;
}
#choices #check {
	width: 20px;
	height: 20px;
	margin-left: 3px;
	margin-right: 3px;
}
#choices #delete {
	width: 20px;
	height: 20px;
	margin-left: 3px;
}
#top-pause {
	width: 30%;
	float: right;
	text-align: right;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#terrain {
	overflow: hidden;
	margin: 0;
	position: relative;
}
#items-menu-edit {
	position: absolute;
	z-index: 1000;
	display: none;
	right: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	width: 20%;
	height: 100%;
	background-image: url(../img/fond.bmp);
	background-repeat:repeat;
	border-right: 1px solid white;
}
#items-menu-edit .item{
	position: relative;
	margin: 0 auto 0 auto;
	width:80%;
	opacity: 0.3;
	background-color: white;
	border-radius: 5px;
}
#sphere {
	position: absolute;
	z-index: 196;
}
#arrivee {
	position: absolute;
}
.vide {
	position: absolute;
	z-index: 100;
}
.projectile {
	position: absolute;
	z-index: 198;
}
.diamant {
	position: absolute;
	z-index: 197;
}
.mur {
	position: absolute;
	z-index: 196;
}

/* NEW GAME */
#select-level {
	width: 100%;
	height: 58%;
	z-index: 199;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0 auto 10px auto;
}
#show-level {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
#show-level div.show-level-item {
	height: 100%;
	display: inline-block;
	margin: 0 10px;
	padding: 0;
	position: relative;
}
#show-level div.show-level-item .show-level-text {
	text-align: center;
}
#show-level div.show-level-item div.level-item {
	height: 80%;
	background: url(../img/background-3.png);
	position: relative;
	text-align: initial;
}
.level-item{
	overflow: hidden;
}
#show-level div.show-level-text {
	height: 20%;
	font-size: 14px;
	line-height: 14px;
}
#show-level div.show-level-text span {
	display: inline-block;
}
#show-level div.show-level-text span.nlevel {
	font-weight: bold;
}
#show-level div.delete-level {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url(../img/editeur/supprimer.png);
	z-index: 105;
}

/* OVERLAY */
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1001;
	top: 0;
	left: 0;
	background: rgba(217, 217, 217, 0.8);
	text-align: center;
}
#message {
	background: rgb(217, 217, 217);
}
.overlay-title {
	height: 100px;
	display: block;
	font-size: 60px;
	line-height: 100px;
	color: black;
	margin: 0;
	padding: 0;
}
#error .overlay-title, #form-hatche .overlay-title, 
#form-projectile .overlay-title,  #form-diamond .overlay-title,
#menu-save .overlay-title {
	height: 100px;
	display: block;
	font-size: 45px;
	line-height: 100px;
	color: black;
	margin: 0;
	padding: 0;
}
#circle {
	position: absolute;
	border-radius: 1000px;
	display: none;
	background: rgba(200, 200, 200, 0.5);
	border: solid 3px rgb(100, 100, 100);
	z-index: 10000;
}
#win-time {
	display: block;
	margin: 0 auto 10px auto;
}

/* BUTTONS */
/*page accueil*/
#hp #button-editor, #hp #button-languages {
	margin-top: 35px;
}
/*choix du mode*/
#mode-game #button-menu-level-online, #mode-game #button-new-level-custom {
	margin-top: 30px;
}
#mode-game .button-menu {
	margin-top: 50px;
}
/*pause*/
#pause #button-save-level, #pause .button-menu {
	margin-top: 35px;
}
/*win*/
#win #button-next-level, #win .button-menu {
	margin-top: 35px;
}

.button-green {
	width: 135px;
	height: 31px;
	background: url(../img/sprite.png) transparent 0 -33px no-repeat;
	margin: auto;
	line-height: 31px;
	border: none;	
}
.button-red {
	width: 135px;
	height: 31px;
	background: url(../img/sprite.png) transparent 0 0 no-repeat;
	margin: auto;
	line-height: 31px;
	border: none;
}
.button-blue {
	width: 103px;
	height: 31px;
	background: url(../img/sprite.png) transparent 0 -66px no-repeat;
	margin: auto;
	line-height: 31px;
	border: none;
}
.button-yellow {
	width: 135px;
	height: 31px;
	background: url(../img/sprite.png) transparent 0 -99px no-repeat;
	margin: auto;
	line-height: 31px;
	border: none;
}
.button-resume, .button-new-level, #button-new-level-normal {
	margin: 10px auto 15px auto;
}
#button-next-level, #button-editor, #button-save-level, #button-new-level-custom {
	margin: 15px auto;
}
#button-new-level-online {
	margin: 15px auto 15px auto;
}

/* DRAPEAUX */
#drapeaux {
	margin: 15px 0;
}
.iso-langue {
	width: 45px;
	height: 29px;
	cursor: pointer;
	opacity: 0.6;
	margin: auto;
	display: inline-block;
}
#fr {
	background: url(../img/sprite.png) transparent -45px -132px no-repeat;
}
#uk {
	background: url(../img/sprite.png) transparent 0 -132px no-repeat;
}
#es {
	background: url(../img/sprite.png) transparent -90px -132px no-repeat;
}
#pt {
	background: url(../img/sprite.png) transparent 0 -161px no-repeat;
}
#pl {
	background: url(../img/sprite.png) transparent -45px -161px no-repeat;
}
#it {
	background: url(../img/sprite.png) transparent -90px -161px no-repeat;
}
#de {
	background: url(../img/sprite.png) transparent 0px -190px no-repeat;
}
#hr {
	background: url(../img/sprite.png) transparent -45px -190px no-repeat;
}

/* FORM LEVEL ONLINE */
#form-level-online {
	width: 250px;
	overflow: hidden;
	margin: 0 auto;
	line-height: 22px;
}
#form-level-online span {
	display: block;
	margin-bottom: 15px;
}
#form-level-online input {
	margin-bottom: 10px;
}

/* RESET */
span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
}