/* FONT */
@font-face
{
	font-family: font-game;
	src: local('Gloria Hallelujah'), url('GloriaHallelujah.woff') format('woff');
}

body {
	background: url(../img/fond.bmp);
	font-family: font-game, cursive;
	padding: 0;
	margin: 0;
}

/* GAME AND EDITOR */
#content {
	background: url(../img/background-3.png);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
#level-content {
	position: relative;
}
#top {
	padding: 0 10px;
	height: 25px;
	font-size: 13px;
	background: rgba(182, 200, 220, 0.8);
	line-height: 25px;
}
#top span#level {
	width: 25%;
	float: left;
}
#time {
	width: 50%;
	margin: auto;
	float: left;
	text-align: center;
}
#top-pause {
	width: 25%;
	float: right;
	text-align: right;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#terrain {
	overflow: hidden;
	margin: 0;
	position: relative;
}
#items-menu-edit {
	position: absolute;
	display: none;
	right: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	width: 20%;
	height: 100%;
	background-image: url(../img/fond.bmp);
	background-repeat:repeat;
	border-right: 1px solid white;
}
#items-menu-edit .item{
	position: relative;
	margin: 0 auto 0 auto;
	width:80%;
	background-color: white;
	border-radius: 5px;
}
#sphere {
	position: absolute;
	z-index: 99;
}
#arrivee {
	position: absolute;
}
.projectile {
	position: absolute;
	z-index: 101;
	width: 15px;
	height: 15px;
}
.diamant {
	position: absolute;
	z-index: 100;
}

/* NEW GAME */
#select-level {
	width: 100%;
	height: 58%;
	z-index: 105;
	overflow-x: scroll;
	overflow-y: hidden;
	text-align: left;
	margin: 0 0 10px 0;
}
#show-level {
	width: 3000px;
	height: 100%;
}
#show-level div.show-level-item {
	height: 100%;
	display: inline-block;
	margin: 0 10px;
	padding: 0;
}
#show-level div.show-level-item .show-level-text {
	text-align: center;
}
#show-level div.show-level-item div.level-item {
	height: 80%;
	background: url(../img/background-3.png);
	position: relative;
}
#show-level div.show-level-text {
	height: 20%;
	font-size: 14px;
	line-height: 14px;
}
#show-level div.show-level-text span {
	display: inline-block;
}
#show-level div.show-level-text span.nlevel {
	font-weight: bold;
}

/* OVERLAY */
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 200;
	top: 0;
	left: 0;
	background: rgba(217, 217, 217, 0.8);
	text-align: center;
}
.overlay-title {
	height: 100px;
	display: block;
	font-size: 60px;
	line-height: 100px;
	color: black;
	margin: 0;
	padding: 0;
}
#win-time {
	display: block;
	margin: 0 auto 10px auto;
}

/* BUTTONS */
.button-green {
	width: 135px;
	height: 31px;
	background-image: url(../img/bt-green.png);
	margin: auto;
	line-height: 31px;	
}
.button-red {
	width: 135px;
	height: 31px;
	background-image: url(../img/bt-red.png);
	margin: auto;
	line-height: 31px;
}
.button-blue {
	width: 103px;
	height: 31px;
	background-image: url(../img/bt-blue.png);
	margin: auto;
	line-height: 31px;	
}
#button-resume, .button-new-level {
	margin: 10px auto 15px auto;
}
#button-next-level {
	margin: 15px auto;
}

#drapeaux {
	margin: 15px 0;
}
.iso-langue {
	cursor: pointer;
	opacity: 0.6;
}

/* RESET */
span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
}